@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Roboto+Condensed:wght@300&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@100&display=swap');

html {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}
section{
	padding-left:50px;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    max-height: auto;
}
hr{
display: none;
}

.for-margins{
    margin-top: 40px;
}

nav #logo {
    width: 5rem;
    height: auto;
    margin-left: 3rem;
}

nav {
    height: 8rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;    
    border-bottom: #000 3px solid;    
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999999999;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 2.5rem;
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none !important;
    font-family: Beau Rivage, sans-serif;
    font-weight: 3rem;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-bottom: 3px solid #880000;
    color: #880000;
}

/* Hamburger menu */

nav .menu-button i{
    color: #000;
    font-size: 3rem;
    cursor: pointer;
    display: none;
    margin-right: 3rem;
}

#click {
    display: none;
}


/**Header sec**/

.homeSection .header-sec{
    position: relative !important;
}
.homeSection .texts-here p, span{
    font-family: Roboto Flex, sans-serif;
    line-height: 3rem;
    color: #fff;
    font-weight: 800;
}
.homeSection .texts-here{
    position: absolute !important;
    top: 180px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.homeSection .texts-here p{
    line-height: 6rem;
    text-shadow:  2px 5px #000;
}
.homeSection .texts-here span{
    font-size: 2rem;
}
.homeSection .texts-here p{
    font-size: 6rem;
}

/**About me**/
.all_heading{
    font-family: Roboto Condensed, sans-serif;
    font-size: 3rem;
    font-style: italic; 
    margin: 50px 0px 30px;
    position: relative;
}
.all_heading::before{
 content: '';
 width: 50px;
 height: 4px;
 background-color: #880000;
 position: absolute;
 bottom: -7px;
}
.about-section img{
    width: 100%;
    height:auto;
    display: inline;
}
.about-section p{
    display: inline;
    width: 50%;
    font-family: Roboto Flex, sans-serif;
    font-size: 2rem;
    line-height: 3rem;
}

/**Thesis section**/
.thesis-section img{
    width: 60%;
}

/** assignments **/
.assignments-sec .nav-tabs{
    width: 100%;
}
.assignments-sec .nav-item{
    margin-bottom: 26px;
}
.assignments-sec .nav-item a{
    padding:  15px;
    font-size: 1.8rem;
    background-color: transparent !important;
    color: #000 !important;
    border-bottom: 2px solid transparent;
}
.assignments-sec .nav-item a:hover, .assignments-sec .nav-item a:active, .assignments-sec .nav-item a:focus {
    border-bottom: 2px solid #800;
    color: #800 !important;
    background-color: transparent;
}
.assignments-sec img{
border: 6px groove #000;
padding: 0px;
margin: 6px 0px;
cursor: pointer;
}

/**Footer**/

footer {
    border-top: 3px solid;
    width: 100%;
    text-align: center;
    position: absolute;  
}

.social-networks {
    text-align: center;
    position: relative;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 3rem;
    margin: 30px 0 30px;
    padding-inline: 5%;
    color: #000;
}

.social-networks i:hover {
	transform: scale(1.2);
	transition: .5s transform;
}
.contact-info{
	margin-top:50px;
}
.contact-info h3{
	text-align:center !important;
	margin-top:50px;
}













/** Contact form **/
.contact-form{
    background: #fff;
    margin-top: 200px;
    margin-bottom: 200px;
}

.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    font-size: 3rem;
}
.contact-form input, .contact-form textarea{
    font-size: 2rem;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #999999;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 16px;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}











@media screen and (max-width:992px) {
hr{
display: block !important;
}
.homeSection .header-sec {
    padding: 104px 0px 6px;
}
.homeSection .texts-here p{
    line-height: 5rem;
font-size: 28px;
}
.homeSection .texts-here p br, .homeSection .texts-here br{
    display: inline-block !important;
}
    nav ul {
        position: absolute;
        top: 8rem;
        left: -100%;
        background: #fff;
        height: auto;
        width: 100%;
        display: block;
        justify-content: right;
        transition: all 0.3s ease;
    }

    #click:checked ~ ul {
        left: 0%;
    }

    #click:checked ~ .menu-button i:before{
        content: "\f141";
    }
    nav ul li{
        margin: 10px !important;
    }
    nav ul li a{
        font-size: 18px;
        display: block;
    }

    nav .menu-button i{
        display: block;
    }
	
.contact-info h3 a{
font-size :15px !important;
}
	
}
